.badge-img {
  width: 32px;
  height: 32px;
  margin: 0.5em;
}

.badge-row {
  display: flex;
}

#badge-container {
  height: 50%;
  display: none;
  align-items: center;
  margin-top: 2.5rem;
  display: none;
  justify-content: space-evenly;
  width: 800px;
}

.badge1 {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-image: url("/assets/borderbox-grey.png") 25 / 10px 10px 10px 10px
    stretch;
  background-color: #253f3f;
  margin-right: 1rem;
}

.badge2 {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-image: url("/assets/borderbox-grey.png") 25 / 10px 10px 10px 10px
    stretch;
  background-color: #253f3f;
  margin-left: 1rem;
  margin-right: 1rem;
}

.badge3 {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-image: url("/assets/borderbox-grey.png") 25 / 10px 10px 10px 10px
    stretch;
  background-color: #253f3f;
  margin-left: 1rem;
  margin-right: 1rem;
}

.badge4 {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-image: url("/assets/borderbox-grey.png") 25 / 10px 10px 10px 10px
    stretch;
  background-color: #253f3f;
  margin-left: 1rem;
  margin-right: 1rem;
}

.badge5 {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-image: url("/assets/borderbox-grey.png") 25 / 10px 10px 10px 10px
    stretch;
  background-color: #253f3f;
  margin-left: 1rem;
  margin-right: 1rem;
}

.badge6 {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-image: url("/assets/borderbox-grey.png") 25 / 10px 10px 10px 10px
    stretch;
  background-color: #253f3f;
  margin-left: 1rem;
  margin-right: 1rem;
}

.badge7 {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-image: url("/assets/borderbox-grey.png") 25 / 10px 10px 10px 10px
    stretch;
  background-color: #253f3f;
  margin-left: 1rem;
  margin-right: 1rem;
}

.badge8 {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-image: url("/assets/borderbox-grey.png") 25 / 10px 10px 10px 10px
    stretch;
  background-color: #253f3f;
  margin-left: 1rem;
}
