#parent {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "top top top"
    "left game right"
    "bottom bottom bottom";
  grid-template-rows: 1fr 768px 1fr;
  grid-template-columns: 1fr 1024px 1fr;
}

#game {
  grid-area: game;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  grid-area: top;
  background-color: #5181cc;
  align-items: center;
}

#bottom {
  display: flex;
  grid-area: bottom;
  background-color: #5181cc;
}

#left {
  display: flex;
  grid-area: left;
  background-color: #5181cc;
  background-image: url("/assets/stonetransp.png");
}

#right {
  grid-area: right;
  background-color: #5181cc;
  background-image: url("/assets/stonetransp.png");
}

#logo {
  align-content: center;
  font-size: 3em;
  color: #ffff;
  text-decoration: none;
}
