.opening {
  box-shadow: 8px 8px 20px 10px #1c2024;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 10px solid white;

  img {
    width: 100%;
    height: 100%;
  }

  .opening-message-box {
    position: absolute;
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;
    font-family: "VT323", monospace;
    background-color: #55afff;
    border: solid;
    border-image: url("/assets/borderbox.png") 25 / 10px 10px 10px 10px stretch;
    font-size: 1.5rem;
    width: 60%;
    color: #384048;

    p {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  #opening-start {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    button {
      font-family: "VT323", monospace;
      font-size: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: #c3c5c8;
    }
    button:hover {
      background-color: #ebebec;
    }
  }
}
