.scene {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 100%;
    height: 77%;
  }
}
.background1 {
  background-image: url("/assets/placeholderArt.png");
  background-size: 100% 100%;
}

.background2 {
  background-image: url("/assets/desert.png");
  background-size: 100% 100%;
}

.background3 {
  background-image: url("/assets/grassland.jpg");
  background-size: 100% 100%;
}

.background4 {
  background-image: url("/assets/greattree.png");
  background-size: 100% 100%;
}

.background5 {
  background-image: url("/assets/temple.png");
  background-size: 100% 100%;
}

.background6 {
  background-image: url("/assets/gameover.png");
  background-size: 100% 100%;
}

.gameover {
  width: 100%;
  height: 100%;
  background-image: url("/assets/gameover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
